@using Enterprise_E_Commerce_Management_System.ViewModels.User
@model ChangeUserPasswordViewModel

@{
    ViewBag.Title = "Edit User Profile";
    string submitName = "Save";
}
 
    <form asp-action="ChangePassword" asp-controller="User" class="mt-4 app-form" style="max-width: 500px;">

        <input type="hidden" asp-for="Id" />

        <div class="mb-3">
            <label asp-for="OldPassword" class="form-label"></label>
            <input asp-for="OldPassword" class="form-control" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ConfirmPassword" class="form-label"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div asp-validation-summary="All" class="text-danger mb-3"></div>

        <div class="d-flex gap-2">
            <a class="btn btn-outline-secondary" asp-action="EditProfile" asp-controller="User">
                Back to Profile
            </a>

            <input type="submit" value="@submitName" class="btn btn-success" />
        </div>

    </form>
 



<partial name="_ValidationScriptsPartial" />
